{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}
 <style>
 .hide{
     display: none;
 }
 html,body{
     overflow-y: hidden;
 }
 </style>
<form method="POST" class="hide">
    {% csrf_token %}
    {{ login_form | as_bootstrap }}

</form>
<div class="main-w3layouts wrapper">
    <h1>Login Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <div class="hide" style="color: #f5c6cb;
            border-color: #f5c6cb;
            padding: .75rem 1.25rem;
            font-weight: bold;
            text-align: center;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: .25rem" id="error" >
</div>
            <form  method="POST">
                {% csrf_token %}
                <input class="text" type="text" name="username" placeholder="Username" required="">
                <input class="text email" type="password" name="password" placeholder="Password" required="">

                <input type="submit" value="LOGIN">
            </form>
            <p>Don't have an Account? <a href="/register"> Sign Up Now!</a></p>
        </div>
    </div>
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<script>
if(document.querySelector(".alert-danger")){
    document.getElementById("error").innerHTML=document.querySelector(".alert-danger").innerHTML;
    document.getElementById("error").classList.remove("hide")
    document.querySelector(".alert-danger").classList.add("hide")
}
</script>

{% endblock %}
