{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %}

{% block page_heading %}User Registration{% endblock %}

{% block content %}
<style>
.hide{
    display: none;
}
</style>

<form method="POST" class="hide">
    {% csrf_token %}
    {{ registration_form | as_bootstrap  }}
    <!-- <button type="submit" class="btn btn-default">Register</button> -->
</form>

	<div class="main-w3layouts wrapper">
		<h1>Registration Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form  method="POST">
                    {% csrf_token %}
					<input class="text  w3lpass" type="text" name="firstname" placeholder="First Name" required="">
                    <input class="text  w3lpass" type="text" name="lastname" placeholder="Last Name" required="">
                    <div id="error" style="color: #f5c6cb;
                    font-weight: bold;
                border-color: #f5c6cb;    
                padding: .75rem -0.75rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: .25rem" class="hide"></div>
                    <input class="text  w3lpass" type="email" name="email" placeholder="Email" required="">
                    <div id="error2" style="color: #f5c6cb;
                    font-weight: bold;
                    border-color: #f5c6cb;    
                    padding: .75rem -0.75rem;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem" class="hide"></div>
                    <input class="text w3lpass" type="text" name="username" placeholder="Username" required="">
                    <input class="text w3lpass" type="password" name="password1" placeholder="Password" required="">
                    <div id="error3" style="color: #f5c6cb;
                               
                    border-color: #f5c6cb;    
                    padding: .75rem -0.75rem;
                    font-weight: bold;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem" class="hide"></div>
					<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="">
				
					<input type="submit" value="SIGNUP">
				</form>
				<p>Already have an Account? <a href="/login"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
	
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

<script>
if(document.getElementById("error_id_username_1")){
document.getElementById("error2").innerHTML=document.getElementById("error_id_username_1").innerHTML;
document.getElementById("error2").classList.remove("hide");
}
if(document.getElementById("error_id_email_1")){
document.getElementById("error").innerHTML=document.getElementById("error_id_email_1").innerHTML;
document.getElementById("error").classList.remove("hide");
}
if(document.getElementById("error_id_password2_1")){
document.getElementById("error3").innerHTML=document.getElementById("error_id_password2_1").innerHTML;
document.getElementById("error3").classList.remove("hide");
}
</script>
{% endblock %}